<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>

<h2>Registrar Persona</h2>

<form action="/guardar" method="POST">
    DNI: <input type="text" name="dni"><br><br>
    Nombre: <input type="text" name="nombre"><br><br>
    Apellido: <input type="text" name="apellido"><br><br>
    Dirección: <input type="text" name="direccion"><br><br>
    Teléfono: <input type="text" name="telefono"><br><br>

    <button type="submit">Guardar</button>
</form>

<br>
<a href="/administrar">Ver registros</a>

</body>
</html>